$('#add_follow_<%= @fellow.id %>').html(
'<div id=<%= "add_follow_#{@fellow.id}" %>>' +
'<%= form_tag('/follow/un_follow/'+ @fellow.id.to_s,method: :put,remote: true) do %>' +
'  <%= submit_tag "UnFollow" %>' +
'<% end %>' +
'</div>'
);
